<nav class="">
  <ul
    class="flex list-styling vertical-align space-between nav-margins white-color"
  >
    <li>
      <a href="">
        <h1 class="logo">HM.</h1>
      </a>
    </li>
    <app-nav-elements />
    <li>
      <a href="#" class="icon">
        <img
          (click)="handleClick()"
          src="assets/two-bar-icon.svg"
          alt="Hamburger Icon"
        />
      </a>
    </li>
  </ul>

  <app-mobile-menu
    (secondCloseMobileMenu)="onCloseMobileMenu($event)"
    *ngIf="showMobileMenu"
  ></app-mobile-menu>
</nav>
