<nav class="">
  <ul
    class="flex list-styling vertical-align space-between nav-margins white-color"
  >
    <li>
      <a href="">
        <h1 class="logo">GD.</h1>
      </a>
    </li>
    <li>
      <a href="">
        <h3 class="nav-elements">About</h3>
      </a>
    </li>
    <li>
      <a href="">
        <h3 class="nav-elements">Services</h3>
      </a>
    </li>
    <li>
      <a href="">
        <h3 class="nav-elements">Our Work</h3>
      </a>
    </li>
    <li>
      <a href="">
        <h3 class="nav-elements btn dark">Enroll Now</h3>
      </a>
    </li>
    <li>
      <a href="#" class="icon">
        <img src="assets/two-bar-icon.svg" alt="Hamburger Icon" />
      </a>
    </li>
  </ul>
</nav>
